header {
  height: 22rem;
  width: 100%;
  background: url(../images/art-bright-celebration.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .flexy(flex, column, null, center, center);
  @media @desktop {
  //  display: none;
  background: #000;
  height: 15rem;
  transform: translateY(70px);
  }

}
