main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all .4s;
  .flexy(flex, column, null, center, center);
  @media @desktop {
    .flexy(flex, row, null, center, center);
    width: 100%;
  }
}

.main-content {
  @media @desktop {
    .flexy(flex, column, null, center, center);
    align-items: baseline;
    width: 35%;
  }
  p {
   font-size: 1.6rem;
   color: #fff;
   text-shadow: -2px 2px 2px #000;
   width: 75%;
   //max-width: 800px;
   margin: 0 auto;
   padding: 2rem;
   border-radius: 10px;
   @media @desktop {
     width: 90%;
     font-size: 2.5vmin;
   }
 }
} //end

.desktop-buttons {
  display: none;
  @media @desktop {
    .flexy(flex, row, null, space-around, center);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .button {
    border: none;
    padding: 2rem;
    font-size: 2.5vmin;
    margin: 0 auto;
    border-radius: 50px;
    width: 45%;
    max-width: 360px;
    background-color: #fff;
    color: #000;
    text-align: center;

  }
}
.about {
  display: none;
  transition: all .6s;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.9);
  top: 0;
  left: 0;
  border: 5px solid lighten(#362238, 20%);
  border-radius: 5px;

  transform: translateX(2000px);
  .close {
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
  }
  .content {
    h1 {
      text-align: center;
      margin: 1rem;
      @media @desktop {
        font-size: 5vmin;
      }
    }
    width: 75%;
  }
  p {
    font-size: 1.3rem;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    @media @desktop {
      font-size: 2.5vmin;
    }
   }
  }



.slide-in {
  transform: translateX(0px);
  .flexy(flex, column, null, null, center);
  height: 100vh;
  overflow-y: scroll;
  @media @desktop {
    justify-content: center;
  }
}

.person {
  .flexy(flex, row, null, null, center);
}
