.about {
  img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid #54354A;
    margin: 1rem;
    @media @desktop {
      height: 10vmin;
      width: 10vmin;
    }
  }
}

.main-image {
  @media @desktop {
  background: url("../images/art-bright-celebration.jpg");
  width: 65%;
  height: -webkit-fill-available;
  background-size: cover;
  }
}
//testing
